In [2]:
import pandas as pd
data1=pd.read_csv(r'features.csv')
data1.head()

,user_id,merchant_id,label,origin,u1,u2,u3,u4,u5,u6,...,um1,um2,um3,um4,um5,um6,um7,um8,um9,um10
0,34176,3906,0,train,451,47,256,45,109,108,...,39,9,20,6,1,36,0,1,2,0.027778
1,34176,121,0,train,451,47,256,45,109,108,...,14,3,1,1,1,13,0,1,0,0.076923
2,34176,4356,1,train,451,47,256,45,109,108,...,18,2,2,1,1,12,0,6,0,0.500000
3,34176,2217,0,train,451,47,256,45,109,108,...,2,1,1,1,1,1,0,1,0,1.000000
4,230784,4818,0,train,54,16,31,17,20,19,...,8,3,1,1,1,7,0,1,0,0.142857

In [3]:
data1.fillna(0, inplace = True)
train = data1[data1["origin"]=="train"].drop(["origin"],axis = 1)
test = data1[data1["origin"]=="test"].drop(["origin","label"],axis = 1)
X,Y = train.drop(['label'],axis=1),train['label']

In [4]:
from sklearn.model_selection import train_test_split
train_x,valid_x,train_y,valid_y = train_test_split(X,Y,test_size=0.2)
print("Ratio of positive samples in train dataset:",train_y.mean())
print("Ratio of positive samples in valid dataset:",valid_y.mean())

Ratio of positive samples in train dataset: 0.06126282398378464
Ratio of positive samples in valid dataset: 0.06070189561650662

In [5]:
import pandas as pd
data1=pd.read_csv(r'features.csv')
data1.head()

,user_id,merchant_id,label,origin,u1,u2,u3,u4,u5,u6,...,um1,um2,um3,um4,um5,um6,um7,um8,um9,um10
0,34176,3906,0,train,451,47,256,45,109,108,...,39,9,20,6,1,36,0,1,2,0.027778
1,34176,121,0,train,451,47,256,45,109,108,...,14,3,1,1,1,13,0,1,0,0.076923
2,34176,4356,1,train,451,47,256,45,109,108,...,18,2,2,1,1,12,0,6,0,0.500000
3,34176,2217,0,train,451,47,256,45,109,108,...,2,1,1,1,1,1,0,1,0,1.000000
4,230784,4818,0,train,54,16,31,17,20,19,...,8,3,1,1,1,7,0,1,0,0.142857

In [9]:

from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(max_depth=4,random_state=0) 
tree.fit(train_x,train_y)
Predict_proba = tree.predict_proba(valid_x)
print(Predict_proba[:])
print("Accuracy on training set: {:.3f}".format(tree.score(train_x,train_y )))
print("Accuracy on test set: {:.3f}".format(tree.score(valid_x,valid_y )))


data2=data1.drop(['origin','label'],axis = 1)
feature_names=data2.columns[:]
target_names=data1['label'].unique().tolist()
#feature_names=feature_names,class_names=target_names

[[0.91781097 0.08218903]
 [0.90994467 0.09005533]
 [0.95054282 0.04945718]
 ...
 [0.95054282 0.04945718]
 [0.95054282 0.04945718]
 [0.87180495 0.12819505]]
Accuracy on training set: 0.939
Accuracy on test set: 0.939

In [10]:
from lightgbm import LGBMClassifier

In [ ]:
model = LGBMClassifier()
model.fit(train_x,train_y)

In [ ]:
auc_lgbm = roc_auc_score(valid_y,model.predict_proba(valid_x)[:,1])
print('accuracy：',model.score(valid_x,valid_y))
print('roc_auc：',auc_lgbm)

In [ ]:
model = LGBMClassifier()
params = {"boosting_type":["gbdt","dart","goss"],
          "learning_rate":[0.05,0.1],
          "n_estimators":[100,1000],
          "num_leaves":[30,100,500],
          "max_depth":[10,50,100],
          "subsample":[0.5],
          "min_split_gain":[0.05]
         }

grid_search = GridSearchCV(model,params,cv = 3,scoring = "roc_auc")

In [ ]:
grid_search.fit(train_x,train_y)

In [ ]:
display(grid_search.best_params_)
display(grid_search.best_score_)

In [ ]:
model = LGBMClassifier(
    boosting_type="dart",
    learning_rate=0.05,
    max_depth = 10,
    min_split_gain = 0.05,
    n_estimators = 1000,
    num_leaves = 30,
    subsample = 0.5
    )
model.fit(train_x,train_y)


auc_lgbm = roc_auc_score(valid_y,model.predict_proba(valid_x)[:,1])
print('accuracy：',model.score(valid_x,valid_y))
print('roc_auc：',auc_lgbm)

In [ ]:
import lightgbm
lightgbm.plot_importance(model,max_num_features=10)